.nav-body {
    position: fixed; 
    top: 0;          
    left: 0;        
    right: 0;     
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 70px;
    background-color: rgba(30, 64, 124);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.nav-body.hidden {
    transform: translateY(-100%);
  }
  
  .nav-body.visible {
    transform: translateY(0);
}
  
.nav-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
    color: white;
    white-space: nowrap;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end; 
    width: 100%;
}

.links {
    display: 'flex';
    padding-right: 30px;
}

.links a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    /* font-weight: bold; */
    transition: color 0.3s ease;
}

/* Style for the active tab */
.links a.active {
    text-decoration: underline;
}

.links a:hover {
    color: rgb(179, 179, 179);         /* Change color on hover */
}

#logout-btn {
    color: rgba(30, 64, 124);
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#logout-btn:hover {
    background-color: rgb(30, 64, 124);;
    color: white;
};
