.product-card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    transition: transform 0.3s ease, cursor 0.2s ease;
}

.product-card-div:hover {
    cursor: pointer; /* Changes the cursor to a pointer */
    transform: scale(1.015); /* Scales the element by 10% */
}

.product-card-div:active {
    transform: scale(1.00); /* Scales the element by 10% */
}

.meta-data-div {
    text-align: left;
}

.image {
    width: 250px;
    height: auto;
    padding: 5px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    font-weight: normal;
}

.status {
    font-size: 14px;
    font-weight: bold;
}

.seller {
    font-size: 14px;
    color: rgba(30, 64, 124);
    margin: 0;
}

.rating-div {
    display: flex;
    flex-direction: row;
}

.rating-div h2 {
    font-size: 14px;
}

.review-count {
    font-weight:350;
    padding-left: 5px;
}

.price {
    font-size: 30px;
    margin: 0px;
}

.star-logo {
    color: orange;
    padding-right: 3px;
}