.search-div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 150px 0 100px 0;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url('./images/campus-image.jpeg');
    z-index: 1;
}

.search-div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
    z-index: 1; /* Places the overlay on top of the background image */
}

.search-div > * {
    position: relative; /* Makes sure children appear above the overlay */
    z-index: 2; /* Ensures child elements are not covered by the overlay */
}

.search {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 0;
    border-radius: 40px;
    border: 2px solid rgba(30, 64, 124);
    width: 300px;
    height: 30px;
}

.search-div h2 {
    color: rgba(30, 64, 124);
    font-size: 50px;
    font-weight: bold;
}